.main {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main > * {
  width: auto
}

.main h2 {
    margin: 1rem 0;
}
.main label {
    font-size: 1.2rem;
    margin-left: 0.2rem;
}